/* Import Google Font (Inter) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set global font for body */
body {
  font-family: 'Inter', sans-serif;
}

/* Hero background */
.hero {
  background-color: #166534;
  background-image: url('./assets/nature2.jpg');
  background-size: cover;
  background-position: center;
  height: 90vh;
  position: relative;
}


@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out;
}
